body{
    color: pink;
    background: darkblue;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.nameofobjects,#result_object_name,#result_object_accuracy{
    color: white;
}
#camera{
    border: 2px solid wheat;
    width: 350px;
    height: 300px;
}